* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

html, body {
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #454547;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem 0;
}

h5 { font-size: 1.5rem; }

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #eee;
  transition: 0.2s ease;

  &:hover {
    text-decoration-color: #ccc;
    text-decoration-style: solid;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #eee;
  padding: 2.5rem 0;
  margin-bottom: 2.5rem;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

ul.recipe-list {
  list-style: none;

  li { height: 4rem; }
}

.portion {
  appearance: none;
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    background-color: #eee;
  }

  &.activePortion {
    opacity: 1;
    border-color: #bbb;
  }
}

.whatBlock, .howBlock {
  margin: 2.5rem 0;
}

.howBlock {
  font-size: 1.7rem;
  font-weight: 400;
}

.howTextBlock {
  line-height: 160%;

  strong { font-weight: 600; }
  ol, ul { margin-left: 2rem; margin-bottom: 1.5rem; }
  p { margin-top: 1.5rem; margin-bottom: 0; }
  li { padding-left: 1.5rem; margin: 0.75rem 0; }
  ul & li, ul & ul, ol & ul, ul & ol, ol & ol { margin-top: 0; margin-bottom: 0; }
}

.ingredient {
  font-size: 2rem;
  display: flex;
  padding: 0.5rem 0; 
 
  strong { font-weight: 500; }
  p { margin: 0; }
  .left { flex: 1; text-align: right; white-space: nowrap; }
  .right { flex: 2; margin-left: 1.2rem; cursor: pointer; }
  &.completed { text-decoration: line-through; color: #bbb; }
  .ingredientSectionBlock & { border-left: 1px solid #ddd; margin-left: 2px; }
}

.ingredientSectionBlock { margin: 1.5rem 0; }

@media only screen and (max-device-width: 480px) {
  html { font-size: 46%; }
  body { width: 100%; }
  .container { width: 100%; padding: 1.5rem; padding-top: 0; }
  .howBlock { font-size: 1.7rem; }
  .howTextBlock ul, .howTextBlock ol { margin-left: 5rem; }
}
